<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jens Rehsack",
  "jobTitle": "Senior Plattform-Architekt",
  "description": "Senior Plattform-Architekt mit 35 Jahren Erfahrung an der Schnittstelle von Geschäftsziel und technischer Realität. Schwerpunkt: Embedded/IoT, Yocto und verteilte Plattformen.",
  "url": "{{ site.url }}",
  "sameAs": [
    "https://www.linkedin.com/in/jens-rehsack-14108926",
    "https://github.com/rehsack",
    "https://metacpan.org/author/REHSACK",
    "https://ctan.org/home/sno",
    "https://www.slideshare.net/JensRehsack",
    "https://blogs.perl.org/users/jens_rehsack/",
    "https://rehsack.dev"
  ]
}
</script>
